/*
	Formatting
		
		Follow the selector with a single space, and indent properties
		selector {
			property: value;
			property2: value;
		}
		
		Put single attributes on single lines
		selector { property: value; }

*/

/* =====================================*/
/*			STYLE GUIDE					*/
/* =====================================*/
/*
	MAIN HOUSE STYLE PINK
		#D32867
		rgba(211, 24, 103, 1);
		http://www.color-hex.com/color/d31867
		
	
	
*/


/* =====================================*/
/*			GLOBALS						*/
/* =====================================*/

/* Box-sizing hack for cross-browser box sizing */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: rgba(211, 24, 103, 1);
	text-decoration: none;
	
	-webkit-transition: background-color 0.25s ease;
	-moz-transition: background-color 0.25s ease;
	-o-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

/* =====================================*/
/*			SITE-WIDE HEADER			*/
/* =====================================*/

body > header img {
	width: 100%;
	max-width: 300px;
}

body > header {
	border-bottom: 1px solid #DDD;
	font-family: Raleway, sans-serif;
}

body > header img {
	/* Ensures that anchor tag fits the image exactly */
	display: block;
}

body > header nav {
	vertical-align: middle;
}

body > header nav a {
	display: inline-block;
	padding: 1em;
}

body > header nav a:not(:last-of-type) {
	border-right: 1px solid #DDD;
}

/* =====================================*/
/*			HEADINGS					*/
/* =====================================*/

/* =====================================*/
/*			PAGE-SPECIFIC				*/
/*	 Try to have as few as possible		*/
/* =====================================*/

/* =====================================*/
/*			FORMS						*/
/* =====================================*/

/* =====================================*/
/*			EXTRAS						*/
/*	 If there's lots, we'll add category*/
/* =====================================*/

/* =====================================*/
/*			UTILITY CLASSES				*/
/* =====================================*/

/* Font-sizes based on Golden Ratio */
.fontsize-tiny { font-size: 12px }
.fontsize-normal { font-size: 16px }
.fontsize-large { font-size: 21px }
.fontsize-xlarge { font-size: 28px }
.fontsize-huge { font-size: 37px }
.fontsize-xhuge { font-size: 50px }

.faint { color: grey; }

.block {
	/*This gives you a full width section of the page to put content inside
	(not all content has to be inside a block, just content that you want to be highlighted)*/
	/* Full width colour block, usually with a .wrap inside */
	width: 100%;
	background-color: #EEE;
}

.wrap {
	/*wrap sets the max width of the element, 
	  makes sure the margins both sides are the same size
	  This stops the element from appearing unnecessarily large on big screens*/
	max-width: 1140px; /* Maximum width so page doesn't stretch to huge sizes */
	padding: 1em 0; /* Add vertical space in between items */
	margin: 0 auto; /* Automatically centre the blocks in the page */
	overflow: auto; /* Expand containers rather than scrollbars */
}

/*Is like setting image properties in a word document to "In line with text"*/
.float-container { overflow: auto; }
.float-left { float: left; }
.float-right { float: right; }
.float-clear { clear: both; }

/*Alligns tect to the left, right, or center of the page*/
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }