/*
	Formatting
		
		Follow the selector with a single space, and indent properties
		selector {
			property: value;
			property2: value;
		}
		
		Put single attributes on single lines
		selector { property: value; }

*/

/* =====================================*/
/*			STYLE GUIDE					*/
/* =====================================*/
/*
	MAIN HOUSE STYLE PINK
		#D32867
		rgba(211, 24, 103, 1);
		http://www.color-hex.com/color/d31867
		
	BODY FONT COLOUR
		#19171D
	
*/


/* =====================================*/
/*			GLOBALS						*/
/* =====================================*/

/* Box-sizing hack for cross-browser box sizing */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	/* font-family tries each in turn and uses the first that works */
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	color: #19171d;
}

a {
	color: #D32867;
	text-decoration: none;
	
	-webkit-transition: background-color 0.25s ease;
	-moz-transition: background-color 0.25s ease;
	-o-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

a:hover {
	/* Use mostly transparent black rather than a colour */
	/* Means that regardless of background, link will always darken */
	background-color: rgba(0, 0, 0, 0.05);
}

/* =====================================*/
/*			SITE-WIDE HEADER			*/
/* =====================================*/

body > header a.float-left:hover {
	/* Don't change background of header image */
	background-color: inherit;
}

body > header img {
	/* Fit header image to small screens */
	width: 100%;
	max-width: 300px;
}

body > header {
	border-bottom: 1px solid #DDD;
	font-family: Raleway, sans-serif;
}

body > header img {
	/* Ensure that anchor tag fits around the image exactly */
	display: block;
}

body > header nav .navigation a {
	display: inline-block;
	padding: 1em;
}

/* =====================================*/
/*			HEADINGS					*/
/* =====================================*/

h1, h2, h3 {
	font-family: 'Raleway', Georgia, serif;
	font-weight: normal;
	line-height: 1.2em;
}

/* =====================================*/
/*			PAGE-SPECIFIC				*/
/*	 Try to have as few as possible		*/
/* =====================================*/

/* =====================================*/
/*			FORMS						*/
/* =====================================*/

/* =====================================*/
/*			EXTRAS						*/
/*	 If there's lots, we'll add category*/
/* =====================================*/

/* =====================================*/
/*			UTILITY CLASSES				*/
/* =====================================*/

/* Font-sizes based on Golden Ratio */
.fontsize-tiny { font-size: 12px; }
.fontsize-normal { font-size: 16px; }
.fontsize-large { font-size: 21px; }
.fontsize-xlarge { font-size: 28px; }
.fontsize-huge { font-size: 37px; }
.fontsize-xhuge { font-size: 50px; }

.faint { color: grey; }

.block {
	/*This gives you a full width section of the page to put content inside
	(not all content has to be inside a block, just content that you want to be highlighted)*/
	/* Full width colour block, usually with a .wrap inside */
	width: 100%;
	background-color: #EEE;
}

.wrap {
	/* Set the maximum width of the element */
	/* Make sure the margins on both sides are equal */
	/* (Stops the element stretching to huge sizes on big screens */
	max-width: 1140px; /* Maximum width so page doesn't stretch to huge sizes */
	padding: 1em 0; /* Add vertical space above and below the block */
	margin: 0 auto; /* Automatically centre the blocks in the page */
	overflow: auto; /* Expand containers rather than add scrollbars */
}

/* Float is similar to setting image properties in Word to "in line with text" */
.float-container { overflow: auto; }
.float-left { float: left; }
.float-right { float: right; }
.float-clear { clear: both; }

/*Align text to the left, right, or centre of the page*/
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }