@import "settings";

@import "partials/functions";

@import "partials/buttons";
@import "partials/code";
@import "partials/forms";
@import "partials/grid";
@import "partials/lists";
@import "partials/tables";
@import "partials/utilities";

/* =====================================*/
/*			GLOBALS						*/
/* =====================================*/

/* Box-sizing hack for cross-browser box sizing */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: $body-font;
	background-color: $body-bg;
	color: $body-text-color;
}

a {
	color: $feature-color;
	text-decoration: none;

	@include transition(color 0.25s);
}

a:hover {
	color: rgba($feature-color, 0.5);
}

a img {
	@include transition(opacity 0.25s);
}

a img:hover {
	opacity: 0.75;
}

/* =====================================*/
/*			CONTENT						*/
/* =====================================*/

/* =====================================*/
/*			SITE-WIDE HEADER			*/
/* =====================================*/

body header {
	padding: 1em 0;
}

/* =====================================*/
/*			SITE-WIDE FOOTER			*/
/* =====================================*/

body footer {
	padding: 3em 0;
}

/* =====================================*/
/*			HEADINGS					*/
/* =====================================*/

h1, h2, h3 {
	font-family: $feature-font;
	font-weight: normal;
	letter-spacing: -1px;
}
