@import "fontloader";

@include 				load-font('PT+Sans');
$body-font:				PT Sans, sans-serif;

@include 				load-font('Raleway');
$feature-font:			Raleway, sans-serif;

$feature-color:			rgba(211, 24, 103, 1);

$body-text-color:		rgba(25, 25, 25, 1);
$hcontrast-text-color:	rgba(255, 255, 255, 1);
$error-text-color:		rgba(216, 30, 91, 1);

$body-bg:				rgba(255, 255, 255, 1);
$contrast-bg:			rgba(238, 238, 238, 1);
$hcontrast-bg:			rgba(0, 0, 0, 1);
$error-bg:				rgba(216, 30, 91, 0.1);

$darker-bg:				rgba(0, 0, 0, 0.25);
$slight-darker-bg:		rgba(0, 0, 0, 0.05);
$lighter-bg:			rgba(255, 255, 255, 0.25);
$slight-lighter-bg:		rgba(255, 255, 255, 0.05);

$curve-radius:			4px;

$site-width:			1140px;

$mobile-width:			400px;
$phablet-width:			550px;
$tablet-width:			750px;
$desktop-width:			1000px;
