@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin bg-image($image) {
	background:
	/* top, transparent black, faked with gradient */ 
	linear-gradient(
		rgba(0, 0, 0, 0.25), 
		rgba(0, 0, 0, 1)
	),
	/* bottom, image */
	url(#{$image});
	background-size: cover;
}
