@import "metalplate/metalplate";
@import "functions";

/* =====================================*/
/*			GLOBALS						*/
/* =====================================*/

body, html {
    background-color: transparent;
}

#content {
	padding-top: 5.5em;
}

.parallax-window {
    background: linear-gradient(
		rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 1)
	),
}

.parallax-window.nofade {
    background: rgba(0, 0, 0, 0.5);
}
/* =====================================*/
/*			SITE-WIDE HEADER			*/
/* ==== ================================*/

body > header {
	border-bottom: 1px solid $contrast-bg;
	font-family: $feature-font;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $body-bg;
	z-index: 1000;
	width: 100%;
	padding: 0;
}

body > header img {
	/* Fit header image to small screens */
	width: 100%;
	max-width: 300px;

	/* Ensure that anchor tag fits around the image exactly */
	display: block;
}

body > header a.logo:hover {
	background-color: inherit;
}

body > header nav .navigation a {
	display: inline-block;
	padding: 1em;
	border: 1px solid transparent;
	border-radius: 5px;

	@include transition(background-color 0.25s, color 0.25s);
}

body > header nav .navigation a:hover {
	background-color: lighten($feature-color, 50%);
	color: black;
}

body > header nav .navigation a.current {
	border: 1px solid $darker-bg;
}

/* =====================================*/
/*			SITE-WIDE FOOTER			*/
/* =====================================*/

/* =====================================*/
/*			HEADINGS					*/
/* =====================================*/

.block.pad {
	margin: 0;
	padding: 5em 2em;
}

.block.pad-small {
	margin: 0;
	padding: 1.5em;
}

.block.bg {
	color: $hcontrast-text-color;
}

.block.large { height: auto; min-height: 400px; }
.block.huge { height: 80vh; min-height: 400px; }

.block.bg.bg1 {
	@include bg-image('../images/block-bg/1.jpg');
}

.block.bg.bg2 {
	@include bg-image('../images/block-bg/2.jpg');
}

.block.bg.bg3 {
    @include bg-image('../images/block-bg/3.jpg');
}

.block.bg.bg4 {
    @include bg-image('../images/block-bg/4.jpg');
}

.block.bg.bg5 {
    @include bg-image('../images/block-bg/5.jpg');
}

.block.bg.bg6 {
    @include bg-image('../images/block-bg/6.jpg');
}

.block.bg.bg7 {
    @include bg-image('../images/block-bg/7.jpg');
}

.block.bg.bg8 {
    @include bg-image('../images/block-bg/8.jpg');
}

.block.bg.bg9 {
    @include bg-image('../images/block-bg/9.jpg');
}

/* =====================================*/
/*			PAGE-SPECIFIC				*/
/*	 Try to have as few as possible		*/
/* =====================================*/

.donate-container {
	width: 90%;
	margin: auto;
	display: inline-block;
	padding: 0.5em;
}

@media only screen and (min-width: $phablet-width) {
	.donate-container {
		width: 33%;
	}
}

@media only screen and (min-width: $tablet-width) {
	.donate-container {
		width: 20%;
	}
}

.donate {
	background-color: $contrast-bg;
	border-radius: $curve-radius;
	border: 1px solid $slight-darker-bg;
}

.donate .amount {
	border-top: 1px solid $slight-darker-bg;
	padding: 1em;
}

.donate .description {
	padding: 1em;
}


progress {
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;

	max-width: 500px;
	width: 100%;
	height: 20px;
}

/* Change color in Firefox */
progress::-moz-progress-bar { background: $feature-color; }
/* Chrome or Safari */
progress::-webkit-progress-value { background: $feature-color; }
/* IE10 */
progress { color: $feature-color; }

.testimonial {
	margin-top: 2em;
}

.testimonial p {
	padding-top: 2em;
	width: 80%;
	border-bottom: 1px solid $slight-darker-bg;
	font-style: italic;
}

/* Expand div to fit content */
.testimonial { overflow: auto; }

/* FLoat alternating left and right */
.testimonial:nth-child(even) img { float: left; }
.testimonial:nth-child(even) p { float: right; }
.testimonial:nth-child(odd) img { float: right; }
.testimonial:nth-child(odd) p { float: left; }

.testimonial span {
	font-size: 80%;
	color: $darker-bg;
	font-style: normal;
}

.column img,
.columns img {
	width: 100%;
}

.community {
	height: 500px;
	overflow-y: scroll;
	padding: 0 1em 0 1em;
	border-radius: $curve-radius;
}

.community .row {
	border-bottom: 1px solid $slight-darker-bg;
}

.community .full {
	display: none;
}

.community_slider {
  height: 100%;
}

.classes {
  width: 60%;
}

.classes .circle {
  max-width: 80%;
}

/* =====================================*/
/*			FORMS						*/
/* =====================================*/

/* =====================================*/
/*			EXTRAS						*/
/*	 If there's lots, we'll add category*/
/* =====================================*/

img.circle {
    border-radius: 50%;
    max-width: 150px;
}

.slider .slide img {
	width: 100%;
}

.masonry-container .masonry-item {
	width: 100%;
	padding: 0.25em;
	max-width: none;

	opacity: 0.25;
	@include transition(opacity 0.25s);
}

@media only screen and (min-width: $mobile-width) {
	.masonry-container .masonry-item {
		width: 50%;
	}
}

@media only screen and (min-width: $tablet-width) {
	.masonry-container .masonry-item {
		width: 33%;
	}
}

@media only screen and (min-width: $desktop-width) {
	.masonry-container .masonry-item {
		width: 25%;
	}
}

.masonry-container.loaded a .masonry-item {
	opacity: 1;
}

.masonry-container a {
	@include transition(opacity 0.25s);
}

.masonry-container a:hover {
	opacity: 0.75;
}

.colorbox {
	display: block;
	padding: 3em;
	text-align: center;
	border-radius: $curve-radius;
	border: 1px solid $slight-darker-bg;
}

.colorbox .auto-fill {
	text-transform: uppercase;

}

.colorbox.feature-color { background-color: $feature-color; color: white;}
.colorbox.feature-color .auto-fill:after { content: "#{$feature-color}"; }

.colorbox.body-bg { background-color: $feature-color; color: $body-text-color;}
.colorbox.body-bg .auto-fill:after { content: "#{$body-bg}"; }

.colorbox.contrast-bg { background-color: $contrast-bg; color: $body-text-color; }
.colorbox.contrast-bg .auto-fill:after { content: "#{$contrast-bg}"; }

.colorbox.hcontrast-bg { background-color: $hcontrast-bg; color: $hcontrast-text-color; }
.colorbox.hcontrast-bg .auto-fill:after { content: "#{$hcontrast-bg}"; }



.colorbox.body-bg { background-color: $body-bg; }
.colorbox.contrast-bg { background-color: $contrast-bg; }
.colorbox.black-bg { background-color: black; color: white;}

/*
	TODO

	Move these into page content not CSS
*/

.floor-fade .rhythmicgymnastics {
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)) ,
		url(../images/classes/rhythmicgymnastics.jpg);
}

.floor-fade .freerunning {
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)) ,
		url(../images/classes/freerunning.jpg);
}

.floor-fade .parallelbars {
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)) ,
		url(../images/classes/parallelbars.jpg);
}

.floor-fade .trampoline {
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)) ,
		url(../images/classes/trampoline.jpg);
}

.floor-fade .floor {
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)) ,
		url(../images/classes/lorem.jpg);
}

.floor-fade .jumping {
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)) ,
		url(../images/classes/dolor.jpg);
}

.floor-fade .children {
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)) ,
		url(../images/classes/ipsum.jpg);
}


/* =====================================*/
/*			UTILITY CLASSES				*/
/* =====================================*/

.floor-fade {
	width: 100%;
	display: inline-block;
	padding: 0.33em;
	vertical-align: top;
}

@media only screen and (min-width: $tablet-width) {
	.floor-fade {
		width: 25%;
	}

	.floor-fade.w2 {
		width: 50%;
	}
}

a.floor-fade {
	@include transition(opacity 0.25s, background-color 0.25s);
}

a.floor-fade:hover {
	opacity: 0.75;
}

.floor-fade > div {
	background-size: cover !important;
	height: 250px;
	position: relative;
}

.floor-fade h2 {
	margin: 0;
	position: absolute;
	bottom: 0.5em;
	left: 0;
	text-align: center;
	width: 100%;
	color: $hcontrast-text-color;
	font-size: 150%;
}

.wrap.small {
	max-width: 2 * $site-width/3;
}
